#header ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#header li{
	float:left;
	margin: 0px;
	padding: 0px;

}
#header	li a{
	display: block;
	width: 150px;
	background-color: pink;
	margin-right: 5px;
	text-align: center;

}